* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 16px;
}

.display-flex {
    display: flex;
}

.nav-bg {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

/* navber related style */
.navber-container {
    max-width: 75rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navber-link {
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.navber-txt {
    padding-top: 1.88rem;
    padding-bottom: 1.88rem;
}

.navber-container .navber-txt .gradiant {
    background-image: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}

.btn{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    color: white;
}
nav>img{
    display: none;
}
/* banner related style */
/* .banner-bg{
    background-image: url(./assets/hero-bg.png);
}
.banner-container{
    max-width: 75rem;
    margin: 0 auto ;
    text-align: center;
    height: 47rem;
}
.btn-two{
    border: none;
}
.banner-img>img{
    /* background-image: url(./assets/microphone.png); */
/* }
.banner-img{
    padding-top: 6.30rem;
    padding-left: 5rem;
} */ 





/* responsive design */
@media screen and (max-width:576px) {
    /* nav related */
    nav>img{
        display: inline;
        margin-right: 20px;
    }
    .btn{
        display: none;
    }
    .navber-link{
        display: none;
    }
    .navber-txt{
        margin-left: 20px;
    }
    
}